body {
  font-family: Arial;
}

.spend-management-paragraph {
  font-size: 30px;
  text-align: center;
  
}

.spend-query-paragraph,
.spend-list-paragraph {
  margin-top: 50px;
  font-size: 20px;
}

.spend-query-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: 150px 150px 150px 100px;
  margin-bottom: 30px;
  align-items: stretch;
}

.result-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: 200px 150px 150px;
}

.spend-input-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: 200px 150px 150px 100px;
  margin-bottom: 30px;
  align-items: stretch;
}

.spend-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: 200px 150px 150px 100px;
}

.start-date-input,
.end-date-input,
.name-input,
.amount-input,
.date-input {
  font-size: 15px;
  padding: 6px;
}

.search-button {
  background-color: lightslategrey;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.add-spend-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.delete-spend-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.query-select {
  width: 100%;
  padding: 6px;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: white;
}

.query-select:focus {
  border: 2px solid;
  border-color: #007BFF;
  border-radius: 2px;
}

.file-input {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 75px;
}

.file-write-button {
  font-size: 15px;
}